<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Recipes!</title>
  </head>
  <body>
    <h1>Create Your Recipe!</h1>
    <form action="/recipes" method="post">
      Enter Recipe Name:
      <input type="text" name="name" value="name">
      Enter Ingredients:
      <input type="text" name="ingredients" value="ingredients">
      Enter Cooktime:
      <input type="text" name="cook_time" value="cook_time">
      <input type="submit" id="submit">

    </form>

  </body>
</html>
